<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="app.playground">

  <!--Note: we use large heap because of this is an image very heavy showcase-->
  <application
    android:name=".PlaygroundApplication"
    android:allowBackup="false"
    android:icon="@mipmap/ic_playground_launcher"
    android:label="@string/playground_app_name"
    android:largeHeap="true"
    android:roundIcon="@mipmap/ic_playground_launcher_round"
    android:supportsRtl="false"
    android:theme="@style/Playground"
    tools:ignore="DataExtractionRules">

    <activity
      android:name=".ui.MainActivity"
      android:exported="true"
      android:theme="@style/Playground.Launch">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

</manifest>
