<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="feature.playground.deviant">

  <application>
    <activity
      android:name=".ui.DeviantArtActivity"
      android:exported="false"
      android:label="@string/deviant_art" />

    <activity
      android:name=".ui.DeviationActivity"
      android:exported="false" />
  </application>

</manifest>
